/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}


.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
	margin: 0;
}


.main {
	margin: 0;
}

.home {
	margin: 0;
	padding: 0;
	width: 100%;
}

#logo {
	height: 3rem;
}

.navbar .navbar-default .navbar-inverse .navbar-brand .navbar-collapse .navbar-header .navbar-nav .navbar-right .navbar-toggle {
	background-image: none;
		background-color: #d4653d;

	}

.header {

}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin-bottom: 0;
	height: 30rem;
	background-image: url(../image/mars-landscape.jpg);
	background-size: cover;
	color: rgb(0, 0, 0);
}

/* TEST TEST TEST TEST */
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
	border-radius: 0;
}


/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	/*padding: 25px;*/
}

/* Add background color for weather bar */
#weather {
	background: #983434;
	background: -moz-linear-gradient(top, #983434 0%, #D4B04C 100%);
	background: -webkit-linear-gradient(top, #983434 0%, #D4B04C 100%);
	background: -o-linear-gradient(top, #983434 0%, #D4B04C 100%);
	background: -ms-linear-gradient(top, #551110 0%, #D4B04C 100%);
	background: linear-gradient(to bottom, #983434 0%, #D4B04C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#983434', endColorstr='#D4B790',
	GradientType=0);
	padding-top: 20px;
	padding-bottom: 5px;
}

#temp {
	font-size: 4em;
}

#pressure {
	font-size: 2.7em;
}

#sky {
	font-size: 0.9em;
}

#date {
	font-size: 1.6em;
}