/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}



body {
	background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../image/selfie-optimized.jpg) no-repeat center center fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}


.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
	margin: 0;
}


.main {
	margin: 0;
}

.container-fluid {

}

.home {
	margin: 0;
	padding: 0;
	width: 100%;
}

.rr-splash {
	font-family: 'Nova Square', cursive;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
}
.rr-splash-wrapper {
	width: 800px;
	max-width: 60%;
	text-align: center;
}

@media(min-width: 993px) {
	.rr-splash {
		font-size: 15rem;
	}
}

@media(max-width: 992px) {
	.rr-splash {
		font-size: 10rem;
	}
}

@media(max-width: 768px) {
	.rr-splash {
		font-size: 8rem;
	 }
}

#weather, #earth, .navbar {
	font-family: 'Montserrat', sans-serif;
}

#logo {
	position: relative;
	bottom: 50%;
	height: 4rem;

}

.img-circle {
	background-color: white;
}

header > nav > .navbar, .navbar-inverse {
	margin-bottom: 0;
	background-color: #8B3626;
	border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	/*padding: 25px;*/
}

.rr-copy {
	text-align: center;
}

/* Add background color for weather bar */
#weather {
	background: #983434;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.5)', endColorstr='rgba(0, 0, 0, 0.2)',
	GradientType=0);
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 9rem;
	color: whitesmoke;
	text-align: center;
}

#temp {
	font-size: 4rem;
}

#pressure {
	font-size: 2.7rem;
}

#sky {
	font-size: 0.9rem;
}

#date {
	font-size: 1.6rem;
}

#earth {
	background: #983434;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.5)', endColorstr='rgba(0, 0, 0, 0.2)',
	GradientType=0);
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 9rem;
	color: whitesmoke;
}

#earth > h2 {
	font-size: 1.5rem;
}


.carousel-row {
	padding: 0 2rem;
	margin: 10rem auto;
}

#imageCarousel, #newsCarousel {
	height: 50rem;
	margin-bottom: 10rem;
}

#imageCarousel, #newsCarousel > .carousel-inner {
	height: 50rem;
}

#imageCarousel > .carousel-inner > .item > img {
	height: 50rem;
	margin-bottom: 10rem;
}

#imageCarouselSplash > .carousel-inner > .item > img {
	height: 35rem;
	margin-bottom: 10rem;
}

#newsCarousel, #newsCarouselSplash {
	background: rgba(15, 15, 15, 0.2);
}

#imageCarouselSplash, #newsCarouselSplash {
	height: 35rem;
	margin-bottom: 10rem;
}

.bg-1 {
	background-color: transparent;
	height: 50rem;
	padding-top: 15rem;
}

.about-upper {
	margin: 7rem auto 0;
	width: 95%;
}

.about-lower {
	margin: 0 auto;
	width: 95%;
}

.panel-transparent {
	background: none;
}

.panel-transparent .panel-heading{
	background: rgba(122, 130, 136, 0.2)!important;
	font-family: 'Montserrat', sans-serif;
	color: black;
}

.panel-transparent .panel-body{
	background: rgba(46, 51, 56, 0.2)!important;
	font-family: 'Montserrat', sans-serif;
	color: #cbcbcb;
}


.panel-custom-gray > .panel-body {
	color: white;
	background-color: transparent;
	font-size: 150%;
	font-family: 'Montserrat', sans-serif;
}

