<phpunit>
	<testsuites>
		<testsuite name="Team Curiosity Test">
			<file>LoginSourceTest.php</file>
			<file>UserTest.php</file>
			<file>NewsArticleTest.php</file>
			<file>CommentImageTest.php</file>
			<file>FavoriteImageTest.php</file>
			<file>FavoriteNewsArticleTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../php/classes</directory>
		</whitelist>
	</filter>
</phpunit>